body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero-image {
    background-image: url('image playing soccer.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

section {
    width: 100%; 
    margin: 20px auto; 
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: block; 
    align-items: center;
    padding: 0; 
    box-sizing: border-box;
}

section img {
    width: 100%; 
    margin-top: 0; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}

section .content {
    background: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}

@media (min-width: 768px) {
    .hero-text {
        font-size: 3.5rem;
        padding: 1rem;
    }

    section {
        width: 80%; 
        flex-direction: column; 
    }

    section img {
       
        max-width: 100%; 
        border-radius: 10px 10px 0 0; 
    }

    section .content {
        width: auto; 
        border-radius: 0 0 10px 10px; 
    }
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
